.specials-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--white-color);
}
.work-section {
    background-color: var(--white-color);
    padding-bottom: 94px;
}
.specials-section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}
.specials-text {
    width: 270px;
    color: var(--primary-text-color);
    &::before {
    display: block;
    content: "";
    height: 120px;
    border-radius: 4px;
    background: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    }
}

.icon-antenna {
    &::before {
    background-image: url(../images/svg.images/antenna.svg);
    }
}
.icon-clock {
    &::before {
    background-image: url(../images/svg.images/clock.svg);
    }
}
.icon-diagram {
    &::before {
    background-image: url(../images/svg.images/diagram.svg);
    }
}
.icon-astronaut {
    &::before {
    background-image: url(../images/svg.images/astronaut.svg);
    }
}
.specials-box {
    display: flex;
    align-items: center;
    li {
    &:not(:last-child) {
        margin-right: 30px;
    }
    }
}
.specials-section-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}